

.header{
    background:#225085;
   height: 60px;
   color: white;
   display: flex;
   justify-content: space-around;
   margin-left: -100;
   font-family: Manrope;
   font-style: normal;
  font-weight: 500;
   font-size: 20px;
  line-height: 26px;
  
}
h4{
    margin-top:15px;
   padding-bottom: 2px; 
}
#menu{
    margin-left: 50%;
}
.main{
    position: absolute;
    background: linear-gradient(95.51deg, #30639D -5.26%, #0F3E74 105.27%);
    font-family: Manrope;
    font-style: normal;
    height: 275px;
    left: 0px;
    top: 10%;
    margin-left:8.4px;
    right:8.4px;
    color:white;
}
.main p{
    width: 378px;
    height: 32px;
    margin-left: 120px;
    top: 120px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
     
.waterMark{
position: absolute;
width: 700px;
height: 275px;
left: 480px;
top: -180px;
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 220px;
line-height: 275px;
color: rgba(255, 255, 255, 0.02);
}

/*......................Information page ........*/
.box{
    position: absolute;
    width: 92%;
    height: 650px;
    left: 50px;
    top: 280px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    color:white;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
    
}


.box1 {
    background: white;
    width: 285px;
    height: 200px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-left:10px;
    margin-top:10px;
    }

    #A-view{
    position: absolute;
    width: 156px;
    height: 35px;
    left: 30px;
    top: 155px;
    background: #0075FF;
    box-shadow: 0px 7px 15px rgba(0, 117, 255, 0.25);
    border-radius: 3px;
    color: white;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    }
     
    .box1 p {
        position: absolute;
        width: 159px;
        height: 32px;
        left: 100px;
        top: 79px;
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #04172A;
    }

.box2 {
    background: white;
    width: 285px;
    height: 200px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-left:10px;
    margin-top:10px;
}

.box2 p {
    position: absolute;
    width: 159px;
    height: 32px;
    left: 414px;
    top: 79px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #04172A;
}

#B-view{
    position: absolute;
    width: 156px;
    height: 35px;
    left: 344px;
    top: 155px;
    background: #0075FF;
    box-shadow: 0px 7px 15px rgba(0, 117, 255, 0.25);
    border-radius: 3px;
    color: white;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    }

.box3{
    background: white;
    width: 285px;
    height: 200px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-left:10px;
    margin-top:10px;
} 


.box3 p {
    position: absolute;
    width: 159px;
    height: 32px;
    left: 720px;
    top: 79px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #04172A;
}

#C-view{
    position: absolute;
    width: 156px;
    height: 35px;
    left: 649px;
    top: 155px;
    background: #0075FF;
    box-shadow: 0px 7px 15px rgba(0, 117, 255, 0.25);
    border-radius: 3px;
    color: white;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    }

.box4{
    background: white;
    width: 285px;
    height: 200px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-left:10px;
    margin-top:10px;
} 

.box4 p {
    position: absolute;
    width: 159px;
    height: 32px;
    left: 1029px;
    top: 79px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #04172A;
}

#D-view{
    position: absolute;
    width: 156px;
    height: 35px;
    left: 960px;
    top: 155px;
    background: #0075FF;
    box-shadow: 0px 7px 15px rgba(0, 117, 255, 0.25);
    border-radius: 3px;
    color: white;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    }

.box5{
    background: white;
    width: 285px;
    height: 200px;
    margin-top:-200px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-left:10px;
    
} 

.box5 p {
    position: absolute;
    width: 159px;
    height: 32px;
    left: 100px;
    top: 320px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #04172A;
}

#E-view{
    position: absolute;
    width: 156px;
    height: 35px;
    left: 30px;
    top: 390px;
    background: #0075FF;
    box-shadow: 0px 7px 15px rgba(0, 117, 255, 0.25);
    border-radius: 3px;
    color: white;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    }

.box6{
    background: white;
    width: 285px;
    height: 200px;
    margin-top:-200px;
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-left:10px;
} 

.box6 p {
    position: absolute;
    width: 159px;
    height: 32px;
    left: 410px;
    top: 320px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #04172A;
}

#F-view{
    position: absolute;
    width: 156px;
    height: 35px;
    left: 340px;
    top: 390px;
    background: #0075FF;
    box-shadow: 0px 7px 15px rgba(0, 117, 255, 0.25);
    border-radius: 3px;
    color: white;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    }

.box7{
    background: white;
    width: 285px;
    height: 200px;
    margin-top:-200px;
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-left:10px;
} 

.box7 p {
    position: absolute;
    width: 159px;
    height: 32px;
    left: 720px;
    top: 320px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #04172A;
}

#G-view{
    position: absolute;
    width: 156px;
    height: 35px;
    left: 650px;
    top: 390px;
    background: #0075FF;
    box-shadow: 0px 7px 15px rgba(0, 117, 255, 0.25);
    border-radius: 3px;
    color: white;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    }


.box8{
    background: white;
    width: 285px;
    height: 200px;
    margin-top:-200px;
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-left:10px;
}

.box8 p {
    position: absolute;
    width: 159px;
    height: 32px;
    left: 1029px;
    top: 320px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #04172A;
}

#H-view{
    position: absolute;
    width: 156px;
    height: 35px;
    left: 960px;
    top: 390px;
    background: #0075FF;
    box-shadow: 0px 7px 15px rgba(0, 117, 255, 0.25);
    border-radius: 3px;
    color: white;
    
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    }

 #A-recta{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 30px;
    top: 80px;
    background: #C4C4C4;
    border-radius: 3px;
}
#B-recta{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 345px;
    top: 80px;
    background: #C4C4C4;
    border-radius: 3px;
}
#C-recta{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 650px;
    top: 80px;
    background: #C4C4C4;
    border-radius: 3px;
}
#D-recta{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 960px;
    top: 80px;
    background: #C4C4C4;
    border-radius: 3px;
}
#E-recta{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 30px;
    top: 310px;
    background: #C4C4C4;
    border-radius: 3px;
}

#F-recta{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 340px;
    top: 310px;
    background: #C4C4C4;
    border-radius: 3px;
}

#G-recta{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 650px;
    top: 310px;
    background: #C4C4C4;
    border-radius: 3px;
}

#H-recta{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 960px;
    top: 310px;
    background: #C4C4C4;
    border-radius: 3px;

}

#A-info {
    position: absolute;
    width: 91px;
    height: 31px;
    left: 30px;
    top: 30px;
    background: linear-gradient(106.59deg, #FF9A24 0%, #DB7600 100%);
    border-radius: 3px;
}
#A-info P{
Position: absolute;
width: 90px;
height: 15px;
left: 5px;
top: -3px;
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #ffffff;
}

#B-info {
    position: absolute;
    width: 91px;
    height: 31px;
    left: 335px;
    top: 30px;
    background: linear-gradient(106.02deg, #52CA5E 0%, #00A510 100%);
    border-radius: 3px;
}
#B-info P{
Position: absolute;
width: 90px;
height: 15px;
left: 5px;
top: -3px;
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #ffffff;
}

#C-info {
    position: absolute;
    width: 91px;
    height: 31px;
    left: 650px;
    top: 30px;
    background: linear-gradient(111.41deg, #6283F8 0%, #294BC2 100%);
    border-radius: 3px;
}
#C-info P{
Position: absolute;
width: 90px;
height: 15px;
left: 6px;
top: -3px;
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #ffffff;
}

#D-info {
    position: absolute;
    width: 91px;
    height: 31px;
    left: 960px;
    top: 30px;
    background: linear-gradient(109.11deg, #FF2775 0%, #D01F5F 100%);
    border-radius: 3px;
}
#D-info P{
Position: absolute;
width: 90px;
height: 15px;
left: 4px;
top: -3px;
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #ffffff;
}

#E-info {
    position: absolute;
    width: 91px;
    height: 31px;
    left: 30px;
    top: 260px;
    background: linear-gradient(101.52deg, #5FE7F0 0%, #1296CE 100%);
    border-radius: 3px;
}
#E-info P{
Position: absolute;
width: 90px;
height: 15px;
left: 4px;
top: -3px;
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #ffffff;
}

#F-info {
    position: absolute;
    width: 91px;
    height: 31px;
    left: 340px;
    top: 260px;
    background: linear-gradient(105.15deg, #9D5DEE 0%, #6315B1 100%);
    border-radius: 3px;
}
#F-info P{
Position: absolute;
width: 90px;
height: 15px;
left: 4px;
top: -3px;
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #ffffff;
}

#G-info {
    position: absolute;
    width: 91px;
    height: 31px;
    left: 650px;
    top: 260px;
    background: linear-gradient(107.43deg, #FC69FF 0%, #CE25D1 100%);
    border-radius: 3px;
}
#G-info P{
Position: absolute;
width: 90px;
height: 15px;
left: 4px;
top: -3px;
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #ffffff;
}

#H-info {
    position: absolute;
    width: 91px;
    height: 31px;
    left: 960px;
    top: 260px;
    background: linear-gradient(111.41deg, #CDE056 0%, #9AAE20 100%);
    border-radius: 3px;
}
#H-info P{
Position: absolute;
width: 90px;
height: 15px;
left: 4px;
top: -3px;
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #ffffff;
}
/*......................................................
End of Information page 
.....................................................................*/